params.bam_dir = null
params.input_suffix = null
params.region_name = null
params.region = null
params.samtools_flag = '-F 0x900'
params.metadata_table = null
params.output_dir = null
params.intermediate_outputs_dir = './intermediate_outputs'
params.opsin_reference = "${projectDir}/resources/OPSIN-genes-with-exons.fasta"
params.final_output_name = null

params.hifiasm_opts_XY = '-l0'

params.nested_bams = false // looks for bams with /*/ to search in subdirectories





conda { enabled = true }

process {
    withLabel: 'extract_reads' {
        conda = '/usr/share/millerlab/samtools-1.22'
        cpus = 10
    }

    withLabel: 'run_hifiasm_XY' {
        cpus = 10
    }

    withLabel: 'run_hifiasm_XX' {
        cpus = 10
    }

    withLabel: 'align_to_assembly' {
        conda = '/usr/share/millerlab/minimap-2.28'
        cpus = 10
    }

    withLabel: 'run_exonerate' {
        conda = '/home/zanderson/.conda/envs/exonerate-env'
    }

    withLabel: 'convert_gff_to_bed' {
        conda = '/home/zanderson/.conda/envs/exonerate-env'
    }

    withLabel: 'analyze_haplotype' {
        conda = '/home/zanderson/.conda/envs/exonerate-env'
    }
    withLabel: 'concatenate_results' {
        conda = '/home/zanderson/.conda/envs/exonerate-env'
    }

}